@use './variables' as *;
// HEADER 

header{
    width: 80%;
    height: 130px;
    @include align-justify-center;
    img{
      height: 70px;
    } 
  }

nav{
    height: 100%;
    @include align-center;
  }

.nav-list{
    @include align-center;
    gap: 1em;
    list-style: none;
    height: 100%;
  }

.nav-item{
  @include align-center;
  height: 100%;
  padding: .5em;
  font-size: 12px;
  &:hover{
    border-bottom: 3px solid $brand-color;
    cursor: pointer;
  }
  &:active{
    background-color: lightgray;
  }


  a{
  text-decoration: none;
  color: black;
  }
}